/**
 * @name Glasscord Nord
 * @description Glasscord theme with Nord (nordtheme.com) palette
 * @author trevarj
 * @version 0.1
 */

:root{
	/* Here you can define properties for use with Glasscord. */

	/* Windows-specific properties */
	/* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
	--glasscord-win-blur: acrylic;
	/* Acrylic mode makes some computers pretty unresponsive when resizing/moving the window.
	   Should we work around it? */
	--glasscord-win-performance-mode: false;

	/* macOS-specific properties */
	/* Vibrancy mode */
	--glasscord-macos-vibrancy: fullscreen-ui;

	/* Linux-specific properties */
	/* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
	/* It currently supports KWin only */
	--glasscord-linux-blur: true;

	/* Discord-specific properties */
	/* Custom (forced) titlebar */
	/* native (default), windows, osx, linux (framed) */
	--glasscord-titlebar: native;
}

.theme-dark{
	--background-primary: transparent;
	--background-primary-alt: #2e344080;
	--background-secondary: #2e344080;
	--background-secondary-chat: #2e344080;
	--background-secondary-alt: #2e344080;
	--background-tertiary: #3b425280;
	--background-logo: #2e3440a080;
	--deprecated-card-bg: #3b425280;
	--deprecated-store-bg: #3b425280;
	--background-attachments: #3b425280;
	--background-search-bar: #4c566a80;
	--background-switcher: #3b425280;
	--background-chatbox: #4c566a80;
	--background-lights-out: #000;
	--background-pinned: #2f313080;
	--background-profile-expand: #3b425280;
	--background-emoji: #3b425280;
	--text-lights-out: #f0f0f0;
	--background-titlebar: #2e344080;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border: 4px solid transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	background-color: #20222550;
}

.theme-dark .container-1D34oG {
	background-color: transparent;
}

.theme-dark .card-FDVird:before {
	background-color: #33363c90;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
	background-color: #2f313650;
	border-color: #20222550;
}

.theme-dark .pageWrapper-1PgVDX {
	background-color: transparent;
}


.withFrame-haYltI {
	height: 18px;
	margin-top: 0;
	padding-top: 4px;
}

.premiumPromo-yVfLiA {
	background-color: var(--background-secondary-chat);
	backdrop-filter: blur(2px);
}

.unread-3zKkbm {
	height: 4px;
	width: 4px;
	margin-top: -2px;
	border-radius: 2px 2px 2px 2px;
}

.jumpToPresentBar-9P20AM {
	border-radius: 8px;
	padding-bottom: 0;
}

.platform-win .sidebar-2K8pFh {
	border-radius: 0;
}

.platform-osx .scroller-2TZvBN {
    padding-top: 32px;
    -webkit-mask: linear-gradient(#0000, #fff 32px);
}

.platform-osx .wrapper-1Rf91z {
    margin-top: 0;
}

.typeMacOS-3EmCyP {
    background-color: transparent !important;
}

.platform-osx .unreadMentionsIndicatorTop-gA6RCh {
    top: 32px;
}

.platform-osx .back-1Ess-_ {
    -webkit-app-region: no-drag;
}

.platform-osx .button-2PWmas {
    -webkit-app-region: no-drag;
}

.messagesPopoutWrap-1MQ1bW {
	background-color: var(--background-pinned);
}

.notice-2FJMB4 {
	background-color: var(--background-secondary) !important;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.emojiPicker-3m1S-j {
	background-color: var(--background-emoji);
}

.appMount-3lHmkl {
	background-color: transparent;
}

.app-2rEoOp {
	background-color: transparent;
}

.attachment-33OFj0 {
	background-color: var(--background-attachments) !important;
}

.header-2o-2hj {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.privateChannels-1nO12o {
	background-color: transparent;
}

.root-SR8cQa {
	background-color: var(--background-profile-expand);
}

.container-PNkimc {
	background-color: transparent;
}

.inset-3sAvek {
	background-color: var(--background-secondary) !important;
}

.container-1r6BKw.themed-ANHk51 {
	background-color: var(--background-secondary);
}

.wrapper-1Rf91z {
	background-color: var(--background-seondary);
}

.childWrapper-anI2G9 {
	background-color: var(--background-logo);
}

.circleIconButton-jET_ig {
	background-color: var(--background-logo);
}

.searchBar-3dMhjb {
	background-color: var(--background-search-bar);
}

.searchBar-6Kv8R2 {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchHeader-1l-wpR {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.channelName-1QajIf {
	background-color: transparent;
}

.searchResult-3pzFAB:before {
	background-image: none;
}

.searchResult-3pzFAB:after {
	background-image: none;
}

.perksModal-fSYqOq {
	background-color: transparent !important;
}

.ctaBar-2UsjF2 {
	background-color: var(--background-attachments) !important;
}

.tierBody-16Chc9 {
	background-color: var(--background-secondary-chat) !important;
}

.perk-2WeBWW {
	background-color: var(--background-attachments) !important;
}

.content-yTz4x3:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tabBody-3YRQ8W:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-19hC9u:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-xm7Ad0:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	background-color: var(--background-search-bar);
}

.scroller-1JbKMe {
	background-color: transparent;
}

.scroller-2TZvBN {
	background-color: transparent;
}

.quickswitcher-3JagVE {
	background-color: var(--background-switcher);
}

.wrapper-2aW0bm {
	background-color: var(--background-primary-alt);
}

.searchResultMessage-2VxO12.hit-NLlWXA {
	background-color: var(--background-primary-alt);
}

.scroller-zPkAnE {
	background-color: transparent;
}

.embedFull-2tM8-- {
	background-color: var(--background-attachments);
}

.messagesWrapper-3lZDfY {
	margin-bottom: 8px;
}

.panels-j1Uci_ {
	background-color: transparent;
}

.titleBar-AC4pGV {
	background-color: var(--background-titlebar);
}

.uploadArea-3QgLtW {
	background-color: var(--background-lights-out);
}

.backdropWithLayer-3_uhz4 {
	background-color: var(--background-lights-out) !important;
}

.backdrop-1wrmKB {
	background-color: var(--background-lights-out) !important;
}

.downloadLink-1ywL9o {
	color: var(--text-lights-out) !important;
}

.bg-AYqtMd {
	-webkit-mask-image: linear-gradient(#000f, #0000) !important;
}

.scrollableContainer-2NUZem {
	background-color: var(--background-chatbox);
}c
